@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.5rem;
  --background: #2b2724;
  --foreground: #fafaf9;
  --card: #322e2b;
  --card-foreground: #fafaf9;
  --popover: #322e2b;
  --popover-foreground: #fafaf9;
  --primary: #84cc16;
  --primary-foreground: #fafaf9;
  --secondary: #403c39;
  --secondary-foreground: #fafaf9;
  --muted: #403c39;
  --muted-foreground: #a6a3a0;
  --accent: #403c39;
  --accent-foreground: #fafaf9;
  --destructive: #7f1d1d;
  --border: #4c4845;
  --input: #4c4845;
  --ring: #84cc16;
  --sidebar: #fafaf9;
  --sidebar-foreground: #2b2724;
  --sidebar-primary: #84cc16;
  --sidebar-primary-foreground: #fafaf9;
  --sidebar-accent: #403c39;
  --sidebar-accent-foreground: #fafaf9;
  --sidebar-border: #4c4845;
  --sidebar-ring: #84cc16;
}

.dark {
  --background: #2b2724;
  --foreground: #fafaf9;
  --card: #322e2b;
  --card-foreground: #fafaf9;
  --popover: #322e2b;
  --popover-foreground: #fafaf9;
  --primary: #84cc16;
  --primary-foreground: #2b2724;
  --secondary: #2b2724;
  --secondary-foreground: #fafaf9;
  --muted: #2b2724;
  --muted-foreground: #a6a3a0;
  --accent: #2b2724;
  --accent-foreground: #fafaf9;
  --destructive: #7f1d1d;
  --border: #4c4845;
  --input: #4c4845;
  --ring: #84cc16;
  --sidebar: #2b2724;
  --sidebar-foreground: #fafaf9;
  --sidebar-primary: #84cc16;
  --sidebar-primary-foreground: #2b2724;
  --sidebar-accent: #2b2724;
  --sidebar-accent-foreground: #fafaf9;
  --sidebar-border: #4c4845;
  --sidebar-ring: #84cc16;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  main {
    @apply size-full;
  }
}
